@{
    ViewBag.Title = "Contact";
}
<br />
<h2>Kontakta oss...</h2>
<br />
<br />
<img src="~/Content/Images/Logotype/DTBZ-logo-vit.jpg" style="width:400px" />
<br />
<br />
<h3>DreamTeam BlogZ</h3>

<address>
    <b>c/o Lexicon</b><br />
    Teknikringen 8D<br />
    591 46  Linköping<br />
    <abbr title="Phone">Phone:</abbr>
    +46 739628359
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@dreamteamblogz.com">Support@dreamteamblogz.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@dreamteamblogz.com">Marketing@dreamteamblogz.com</a>
</address>

<br />
@*<div class="row">
        <div id="map"></div>
        <script>
            var map;
            function initMap() {
                map = new Google.maps.Map(document.getElementById('map'), {
                    center: { lat: 58.3949, lng: 15.5608 },
                    zoom: 8
                })
            }
        </script>
    </div>*@
<div>
    <iframe width="1200"
            height="600"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2956.9532420219048!2d15.553645888190296!3d58.39539492926906!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46596f7b979505a5%3A0x5035b84980467e8f!2sLexicon%20Link%C3%B6ping!5e0!3m2!1ssv!2sse!4v1578322061138!5m2!1ssv!2sse"
            frameborder="0"
            allowfullscreen=""
            style="border:0"></iframe>
</div>
